.IdeaForm {
  width: 80vw;
  height: 40vh;
  background-color: #bfbfdd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-family: 'Open Sans', sans-serif;
}

.ideaForm {
  display: flex;
  flex-direction: column;
  width: 30vw;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  flex-direction: column;
}

.title, .body {
  border: 1px solid #5356a4;
  margin-bottom: 2vh;
  border-radius: 3px;
  width: 30vw;
  resize: none;
  height: 2rem;
}

textarea {
  height: 5rem;
}

.saveButton {
  width: 30vw;
  height: 2rem;
  background-color: #353567;
  border: 1px solid #5356a4;
  color: #e9e9f3;
  font-family: 'Open Sans', sans-serif;
  border-radius: 2px;
}

.searchForm {
  display: flex;
  flex-direction: row;
  width: 30vw;
  height: 2rem;
  align-items: center;
  justify-content: center;
}

.search {
  border: 1px solid #5356a4;
  border-radius: 0 3px 3px 0;
  border-left: none;
  width: 27vw;
  resize: none;
  height: 1.9rem;
}
.searchButton {
  background-color: #353567;
  border: 1px solid #5356a4;
  border-right: none;
  border-radius: 3px 0 0 3px;
  width: 2rem;
  height: 2rem;
  padding: .2rem;
  margin: 0;
}
